// top
.block
    &:not(.block-gallery, .block-image)
        @include in-page-without-sidebar
            .top
                align-items: baseline
                display: flex
                gap: var(--grid-gutter)
                .block-title
                    @include h5
                    width: columns(4)
                    + .description
                        margin-top: 0
                .description
                    @include lead-sidebar
                    flex: 1
    &.block-key_figures
        @include in-page-without-sidebar
            .top .block-title
                width: columns(3)
    &:first-child
        &.block-categories--cards
            margin-top: var(--grid-gutter-negative) !important
            @include media-breakpoint-up(desktop)
                margin-top: -$spacing-5 !important
    @include media-breakpoint-up(desktop)
        &:not(.block-call_to_action)
            .top
                margin-bottom: $spacing-5

// layout cards
[class$="--cards"]
    article
        overflow: hidden
        border-radius: $btn-border-radius

// categories
.block-categories
    [class$="-title"]
        @include h3
        a
            color: var(--color-text-alt)
    .category-item
        &.ancestor-solutions
            .media
                @include media-solutions

    &--cards
        background: var(--color-background-alt)
        padding-bottom: space(9)
        padding-top: space(9) !important
        .categories
            min-height: unset
        .block-title
            @include h5
        .category-item
            background-color: $layout-cards-item-background
            .category-content
                display: flex
                flex: 1
                flex-direction: column
                .more
                    padding-top: $spacing-2
                    margin-top: auto
            .media img
                aspect-ratio: 1.400
        @include media-breakpoint-up(desktop)
            padding-bottom: $spacing-5
            padding-top: $spacing-5

// timeline
.block-timeline
    &--horizontal
        .timeline-event 
            .title
                @include h4

// cta | call to action
.block-call_to_action
    .call_to_action
        .top
            .block-title
                margin-bottom: space(8)
            .description p
                @include lead-sidebar
    &--no_background
        --cta-background-color: #{$color-background-alt}

// key figures
.block-key_figures
    li
        .key-figure-text
            > span
                @include signature
            strong
                color: var(--color-text-alt)

    @include media-breakpoint-up(desktop)
        .top + ul
            margin-top: $spacing-5

// gallery
.block-gallery
    &--grid
        figure img
            aspect-ratio: 1
            object-fit: cover

    &--carousel
        .slider-progression
            color: var(--color-accent)

        @include in-page-without-sidebar
            background: none
        
        @include media-breakpoint-up(desktop)
            .slider-arrows
                margin-top: $spacing-3
    
    figure
        figcaption
            .credit
                color: var(--color-accent)

// files
.block-files
    .files
        li
            &::before
                --color-border: var(--color-text)
                border-radius: #{$btn-border-radius}
            figcaption
                color: var(--color-accent)

// video
.block-video
    .lazy-video-player::after
        background-color: alphaColor($color-site-dark-blue, 0.9)
    .lazy-video-player__play
        height: pxToRem(72)
        width: pxToRem(72)
        border-color: alphaColor(var(--color-background), 0.5)
        &::before
            font-size: pxToRem(18)
            padding-top: pxToRem(1)
        &:hover::before
            color: $color-site-dark-blue

// organizations
.block-organizations
    &--map
        .map-filter-button.offcanvas-button
            @extend .button--small
            @extend .button--accent
            --btn-hover-background: var(--color-text)
            .block-organizations
        .map
            background-color: var(--color-accent)
            background-image: linear-gradient(180deg, $color-accent-alt 0%, $color-accent 100%)
            .leaflet-tile
                filter: grayscale(100%)
                mix-blend-mode: multiply
                opacity: 50% !important
                pointer-events: none
    &--grid
        .organization
            .media
                border: 1px solid transparent
                transition: all 0.3s
            &, &:not(.with-summaries)
                .organization-title
                    @include h4
            &:hover
                .media
                    border-color: var(--color-accent)

// testimonials
.block-testimonials
    figure
        figcaption
            margin-top: space(8) !important
            .meta
                color: var(--color-accent)
                margin-top: $spacing-1
    .slider-controls 
        --color-border: var(--color-text)
        .slider-pagination li::after
            background-color: $color-site-red
    .slider-autoplayer > button
        color: $color-site-red

    .page__home &:not(.block-titled)
        padding-bottom: space(9)
        padding-top: space(9)
        @include media-breakpoint-up(desktop)
            padding-bottom: $spacing-5
            padding-top: $spacing-5

    @include in-page-without-sidebar
        .testimonial,
        .slider-controls
            // width: columns(8)
            padding-left: offset(2)
            padding-right: offset(2)
        figure.with-picture
            padding-top: calc(#{offset(1)} + #{space(8)})
            figcaption
                gap: var(--column-width)
                .avatar
                    left: offset(2)
                    margin-left: 0
                    margin-right: 0
                    width: offset(1)

// projects
.block-projects,
.projects
    .project
        .project-title a
            color: var(--color-text-alt)
        .project-subtitle,
        .project-meta time
            color: var(--color-text)
        .project-summary,
        .project-categories
            margin-top: space(4)
        .project-categories a
            @include link($color-site-dark-red)