$heading-font-family: "Funnel Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$quote-font-family: "Times New Roman", "Helvetica Neue", "Helvetica", "Arial", serif

$color-accent: #24528F
$color-accent-alt: #3377CC
$color-text: #0F283D
$color-text-alt: #3377CC
$color-background: #FDFDFC
$color-background-alt: #F2F1F5

$lead-weight: 300

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

