// global
// red logo on all pages but home
html:not(.has-menu-opened)
    body:not(.page__home, .ancestor-solutions) header#document-header,
    body.page__home header#document-header.is-sticky
            .logo svg path
                fill: $color-site-red
//header
header#document-header
    .nav-level-1
        > li:nth-last-child(2) a
            @extend .button--accent

    .nav-level-2 > li a
        @include small-arrow-right-hover
    
    html.has-menu-opened &
        &, .dropdown-menu
            background: #{$header-dropdown-background}
            &, a, span, button
                color: $header-dropdown-color
        .button--accent
            color: var(--color-text)
            --btn-background: var(--color-background)
            --btn-hover-background: #{alphaColor(var(--btn-background), 0.9)}

    @include media-breakpoint-down(desktop)
        .primary-menu
            html.has-menu-opened &
                height: 100vh
            .header-button
                span:first-of-type
                    text-transform: none
        .nav-level-1
            > li
                border-color: var(--color-background)
                > a, > span, > button, > button span
                    @include signature
                .dropdown-menu-heading
                    display: none
                &:nth-last-child(2),
                &:nth-last-child(3)
                    border: none
                &:nth-last-child(2)
                    a
                        width: 100%
        .nav-level-2 > li
            > a, > span, > button
                @include meta
        .is-titled
            .nav-level-2
                margin-top: 0

    @include media-breakpoint-up(desktop)
        .search-button
            span:first-of-type
                display: none
        .nav-level-1
            > li:nth-last-child(2)
                margin-left: space(6)
                margin-right: space(8)
        .nav-level-2
            li + li
                margin-top: $spacing-3
        .dropdown-menu
            min-height: 80vh

// footer
footer#document-footer
    background: linear-gradient(180deg, #1F4C7A 0%, #0F283D 100%)

// hero
.hero
    .content 
        h1
            color: #{$color-accent-alt}
        @include media-breakpoint-up(desktop)
            h1 + p
                margin-top: $spacing-4


// specifics for project's solutions and home
.page__home,
.ancestor-solutions
    header#document-header:not(.is-sticky)
        &, .dropdown-menu
            &, a, span, button
                color: $header-dropdown-color
        .button--accent
            color: var(--color-text)
            --btn-background: var(--color-background)
            --btn-hover-background: #{alphaColor(var(--btn-background), 0.9)}
    .breadcrumb-nav
        li, a, span, li::before
            color: var(--color-background)

// home specifics
    // hero
    .hero
        background: linear-gradient(180deg, #5894D0 0%, #0E1A43 100%)
        .content
            align-items: center
            display: flex
            flex-direction: column
            height: 100%
            justify-content: center
            gap: space(11)
            padding-top: $spacing-6
            figure
                order: -1
                width: columns(9)
            .hero-text
                margin-top: 0
                width: 100%
        h1
            background: #FFFFFF
            background: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            margin: auto
            max-width: 11ch
            text-align: center

    @include media-breakpoint-down(desktop)
        .hero
            .hero-text
                margin-bottom: space(29)

    @include media-breakpoint-up(desktop)
        .hero
            min-height: 80vh
            h1
                max-width: 23ch
            .content
                gap: space(13)
                figure
                    width: offset(3)

// projects categories ('solutions')
.ancestor-solutions
    .hero
        background-color: $color-site-dark-blue
        &, h1
            color: var(--color-background)