{{ $footer_contact := partial "GetMenu" "footer-contact" }}

{{ if $footer_contact.items }}
  {{ partial "commons/menu.html" (dict
    "kind" "footer-contact"
    "level" 2
    "context" .
    "class" "footer-cta"
  )}}
{{ end }}

<div itemscope="" itemtype="https://schema.org/Organization">
  <address itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
    <span itemprop="streetAddress">1342 Avenue de Toulouse</span>
    <span itemprop="postalCode">34070</span> <span itemprop="addressLocality">Montpellier</span>
    <span itemprop="addressCountry" class="sr-only">FRANCE</span>
  </address>
    <a href="tel:+0467670284" itemprop="telephone" title="{{ i18n "commons.footer.address.phone_title"}}">04 67 67 02 84</a>
</div>